.header {
  min-height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  top: 0;
  left: 0;
  right: 0;

  &__logo {
    display: block;
  }
}

.nav {
  @media (max-width: 768px) {
    display: none;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    flex-wrap: nowrap;
    padding: 0 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.right-menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;

  &__shop {
    padding: 0 10px;
    text-decoration: none;
  }

  &__icon {
    display: block;
    background-image: url(../../images/logos/icon-menu.svg);
    background-size: cover;
    height: 24px;
    width: 24px;
  }
}